<div class="login-container">
        <header class="login-header">
            <h1>OST Chat</h1>
        </header>
        <main class="login-main">
            <form>
                <div class="login-form-div">
                    <label for="username">Username</label>
                    <input type="text" name="username"
                           id="username" placeholder="Enter a Username" required autofocus autocomplete="off"
                    />
                </div>
                <div class="login-form-div" id="chat-room-select">
                    <label for="chatrooms">Select a Chatroom</label>
                    {{#each rooms}}
                        <button type="submit" 
                            formaction="/chat/{{id}}" 
                            name="chatroom-selection" 
                            value="{{room_name}}"
                            class="chat-select-btn"
                        >{{room_name}}</button>
                    {{/each}}
                </div>
            </form>
        </main>
    </div>
